# Archivos locales de entorno (Ignorar datos sensibles de usuario)
.env
meion_config.json

# Cachés y temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env

# Archivos de sistema u otros editores
.vscode/
.idea/
.DS_Store
Thumbs.db
